/*============== Advanced Banner ================*/

.advanced-banner .advanced-banner-description {
    padding: 150px 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Fonts and Font Wight of Presets*/

.elementor-widget-advanced-banner.advanced-banner-aetrio .advanced-banner-description .advanced-banner-primary-title,
.elementor-widget-advanced-banner.advanced-banner-evezza .advanced-banner-description .advanced-banner-primary-title,
.elementor-widget-advanced-banner.advanced-banner-rozzby .advanced-banner-description .advanced-banner-primary-title, {
    font-family: "Poppins";
    font-weight: 500;
}

.elementor-widget-advanced-banner.advanced-banner-aetrio .advanced-banner .advanced-banner-content,
.elementor-widget-advanced-banner.advanced-banner-evezza .advanced-banner .advanced-banner-content,
.elementor-widget-advanced-banner.advanced-banner-rozzby .advanced-banner .advanced-banner-content {
    font-family: "Poppins";
    font-weight: 400;
}

.elementor-widget-advanced-banner.advanced-banner-eeta .advanced-banner-description .advanced-banner-primary-title,
.elementor-widget-advanced-banner.advanced-banner-eeta .advanced-banner .advanced-banner-content {
    font-family: "Poppins";
    font-weight: 500;
}

.elementor-widget-advanced-banner.advanced-banner-ziofy .advanced-banner-description .advanced-banner-primary-title,
.elementor-widget-advanced-banner.advanced-banner-ziofy .advanced-banner .advanced-banner-content {
    font-family: "Poppins";
    font-weight: 500;
}

.elementor-widget-advanced-banner.advanced-banner-ziofy .advanced-banner .advanced-banner-content {
  font-weight: 300;
}

.elementor-widget-advanced-banner.advanced-banner-hostezza .advanced-banner-description .advanced-banner-primary-title,
.elementor-widget-advanced-banner.advanced-banner-hostezza .advanced-banner .advanced-banner-content {
    font-family: "Poppins";
    font-weight: 500;
}

.elementor-widget-advanced-banner.advanced-banner-hostezza .advanced-banner .advanced-banner-content { 
    font-weight: 300;
}

.elementor-widget-advanced-banner.advanced-banner-eeta .advanced-banner .advanced-banner-content {
    font-weight: 400;
}

.advanced-banner-aetrio .advanced-banner .advanced-banner-description,
.advanced-banner-eeta .advanced-banner .advanced-banner-description {
    font-weight: 400;
}

.advanced-banner-eeta .advanced-banner .advanced-banner-description {
    font-weight: 300;
}

.elementor-widget-advanced-banner .advanced-banner .advanced-banner-description .advanced-banner-button {
    text-decoration: none;
}

/* Preset Button Styles*/

.advanced-banner-aetrio .advanced-banner .advanced-banner-description .advanced-banner-button,
.advanced-banner-eeta .advanced-banner .advanced-banner-description .advanced-banner-button,
.advanced-banner-evezza .advanced-banner .advanced-banner-description .advanced-banner-button {
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 30px;
}

.advanced-banner-eeta .advanced-banner .advanced-banner-description .advanced-banner-button,
.advanced-banner-eeta .advanced-banner .advanced-banner-description .advanced-banner-button:hover {
    border: 2px solid #f6aa09;
}

.advanced-banner-evezza .advanced-banner .advanced-banner-description .advanced-banner-button { 
    border: 2px solid #F4A92B;
}

.advanced-banner-hostezza .advanced-banner .advanced-banner-description .advanced-banner-button { 
    border-radius: 30px;
    padding: 14px 36px;
    border: 1px solid #4776e6;
}

.advanced-banner-rozzby .advanced-banner .advanced-banner-description .advanced-banner-button { 
    border-radius: 0px;
    padding: 10px 25px;
    font-weight: 900;
    border: 1px solid #92CA52;
}

.advanced-banner-ziofy .advanced-banner .advanced-banner-description .advanced-banner-button { 
    border-radius: 0px;
    padding: 10px 25px;
    border: 1px solid #284dea;
}

.advanced-banner-evezza .advanced-banner .advanced-banner-description .advanced-banner-button:hover { 
    border: 2px solid #F4A92B;
    background-color: transparent;
}

/* Title and Content Margin */

.advanced-banner-aetrio .advanced-banner .advanced-banner-description .advanced-banner-primary-title {
    margin-bottom: 55px;
}

.advanced-banner-evezza .advanced-banner .advanced-banner-description .advanced-banner-primary-title {
    margin-top: 35px;
}

.advanced-banner-eeta .advanced-banner .advanced-banner-description .advanced-banner-content,
.advanced-banner-evezza .advanced-banner .advanced-banner-description .advanced-banner-content,
.advanced-banner-hostezza .advanced-banner .advanced-banner-description .advanced-banner-content  {
    margin: 30px 0 50px 0;
}

.advanced-banner-ziofy .advanced-banner .advanced-banner-description .advanced-banner-content,
.advanced-banner-rozzby .advanced-banner .advanced-banner-description .advanced-banner-content  {
    margin: 50px 0 30px 0;
}

.advanced-banner-aetrio.advanced-banner-text-align-center .advanced-banner-description .advanced-banner-content {
    margin: 0 auto 55px auto;
}

.advanced-banner-eeta.advanced-banner-text-align-center .advanced-banner-description .advanced-banner-content {
    margin: 0 auto 30px auto;
}

.advanced-banner-evezza.advanced-banner-text-align-center .advanced-banner-description .advanced-banner-content {
    margin: 35px auto 70px auto;
}

.advanced-banner-hostezza.advanced-banner-text-align-center .advanced-banner-description .advanced-banner-content  {
    margin: 30px auto 50px auto;
}

.advanced-banner-ziofy.advanced-banner-text-align-center .advanced-banner-description .advanced-banner-content,
.advanced-banner-rozzby.advanced-banner-text-align-center .advanced-banner-description .advanced-banner-content  {
    margin: 50px auto 30px auto;
}

.advanced-banner-aetrio.advanced-banner-text-align-left .advanced-banner-description .advanced-banner-content,
.advanced-banner-eeta.advanced-banner-text-align-left .advanced-banner-description .advanced-banner-content,
.advanced-banner-evezza.advanced-banner-text-align-left .advanced-banner-description .advanced-banner-content,
.advanced-banner-hostezza.advanced-banner-text-align-left .advanced-banner-description .advanced-banner-content,
.advanced-banner-rozzby.advanced-banner-text-align-left .advanced-banner-description .advanced-banner-content,
.advanced-banner-ziofy.advanced-banner-text-align-left .advanced-banner-description .advanced-banner-content {
    
    margin-right: auto;
}

.advanced-banner-aetrio.advanced-banner-text-align-right .advanced-banner-description .advanced-banner-content,
.advanced-banner-eeta.advanced-banner-text-align-right .advanced-banner-description .advanced-banner-content,
.advanced-banner-evezza.advanced-banner-text-align-right .advanced-banner-description .advanced-banner-content,
.advanced-banner-hostezza.advanced-banner-text-align-right .advanced-banner-description .advanced-banner-content,
.advanced-banner-rozzby.advanced-banner-text-align-right .advanced-banner-description .advanced-banner-content,
.advanced-banner-ziofy.advanced-banner-text-align-right .advanced-banner-description .advanced-banner-content {
    margin-left: auto;
}

/*============== Advanced Countdown ================*/

.advamentor-countdown-wrapper {
    width: 100%;
    text-align: center;
}

.advamentor-countdown-wrapper .advamentor-clock-center {
    display: inline-block;
    width: auto;
}

/*============== Advanced Counter ================*/

.elementor-widget-advanced-counter .advanced-counter-style-flat .counter-title {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 18px;
}

.elementor-widget-advanced-counter .advanced-counter-style-flat .counter-numerals {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 1em;
}

.elementor-widget-advanced-counter .advanced-counter-style-minimal .counter-title {
    font-weight: 200;
    font-family: 'Poppins';
    font-size: 14px;
}

.elementor-widget-advanced-counter .advanced-counter-style-minimal .counter-numerals {
    font-weight: 300;
    font-family: 'Poppins';
    font-size: 48px;
}

.elementor-widget-advanced-counter .advanced-counter-style-square .counter-title {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 16px;
}

.elementor-widget-advanced-counter .advanced-counter-style-square .counter-numerals {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 36px;
}

/*============== Advanced Testimonial Carousel ================*/

.advamentor-advanced-testimonial-carousel .aatc-single-dark {
    background: #000000;
    color: #d4d4d4;
    padding: 100px;
    min-height: 400px;
}

.advamentor-advanced-testimonial-carousel .aatc-single-dark .testimonial-content {
    margin-bottom: 60px;
    background: url('../../front/images/advanced-testimonial-carousel/quote_mark.png') no-repeat;
    background-position: 0 0;
    padding: 80px 80px 20px;
    line-height: 2;
}

.advamentor-advanced-testimonial-carousel .aatc-single-dark .testimonial-person {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.advamentor-advanced-testimonial-carousel .aatc-box-solid .aatc-message-box {
    background: #000000;
    color: #ffffff;
    padding: 60px 50px;
    min-height: 400px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid a.button {
    background: #2087ef;
    color: #ffffff;
    border: none;
    padding: 10px 40px;
    border-radius: 2px;
    font-size: 0.8rem;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .aatc-testimonial-box {
    background: #2687ef;
    padding: 60px 50px;
    color: #ffffff;
    min-height: 400px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .testimonial-title {
    margin-bottom: 40px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .testimonial-message {
    margin-bottom: 40px;
    font-size: 0.8rem;
    width: 80%;
    line-height: 1.8;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .col-8 {
    padding-right: 0px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .col-4 {
    padding-left: 0px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .testimonial-text {
    font-size: 0.8rem;
    margin-bottom: 40px;
    margin-top: 5px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .testimonial-author {
    position: absolute;
    bottom: 43px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .testimonial-author img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 15px;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .testimonial-author-name {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.advamentor-advanced-testimonial-carousel .aatc-box-solid .testimonial-author-designation {
    font-size: 0.8rem;
}

.advamentor-advanced-testimonial-carousel .aatc-celebration .celebration-image {
    max-height: 500px;
    overflow: hidden;
}
.advamentor-advanced-testimonial-carousel .aatc-celebration .testimonial-area {
    margin-left: -80px;
    z-index: 1;
    background: #ffffff;
    max-height: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid #fbfbfb;
    -webkit-box-shadow: 10px 15px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 15px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 15px 20px 0px rgba(0,0,0,0.1);
}
.advamentor-advanced-testimonial-carousel .aatc-celebration .testimonial-content {
    min-height: 195px;
    margin-bottom: 50px;
    line-height: 1.8;
}
.advamentor-advanced-testimonial-carousel .aatc-celebration .testimonial-person {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.advamentor-advanced-testimonial-carousel .aatc-celebration .testimonial-author-thumbnail img {
    height: 64px;
    width: 64px;
}
.celebration-quote {
    background: url('../../front/images/advanced-testimonial-carousel/quote.png') no-repeat;
}