/**
 * Advamentor Admin Styles
 */

 body.toplevel_page_advamentor {
 	background-color: #f1f1f1;
 }

.advamentor-admin-wrapper {
	font-family: 'Poppins', sans-serif;
}

.advamentor-admin-wrapper .page-heading {
	margin: 50px 0 100px 0;
}

.advamentor-admin-wrapper .page-description {
	color: #A5A5A5;
	font-size: 16px;
}

.advamentor-admin-wrapper .page-actions {
	margin: 50px 0 0 0;
}

.advamentor-admin-wrapper .page-actions .toggle-all {
	display: flex;
	align-items: center;
}

.advamentor-admin-wrapper .page-actions .toggle-all label {
	margin-bottom: 2px;
}

.advamentor-admin-wrapper .page-actions .submit-container {
	text-align: right;
}

.advamentor-admin-wrapper .page-actions .submit-container button {
	font-size: 14px;
    text-transform: uppercase;
    padding: 15px 35px;
    font-weight: 100;
}

.advamentor-admin-wrapper .widget-row .widget-toggle {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 30px;
}

.tooltip h6 {
	font-size: 0.8em;
}

.tooltip li {
	font-size: 0.5em;
	line-height: 1;
	list-style-type: none;
}

#elementor-panel-category-advamentor .elementor-element {
	border: 1px solid #c3c3c3;
}

@media only screen and ( max-width: 575px ) {

	.advamentor-admin-wrapper .page-heading {
		margin: 50px 0;
		text-align: center;
	}

	.advamentor-admin-wrapper .page-actions {
		margin: 0 0 50px 0;
		text-align: center;
	}

	.advamentor-admin-wrapper .page-actions .toggle-all {
		margin-bottom: 20px;
	}

	.advamentor-admin-wrapper .page-actions .submit-container {
		text-align: center;
	}

}